# Postgres
DB_USER=saint
DB_PASSWORD=saint_dev_password
DB_HOST=postgres
DB_NAME=saint

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_USER=saint
RABBITMQ_PASS=saint_dev_password


# Worker container (performs simulation requests with simc)
SIMC_IMAGE=simulationcraftorg/simc:latest # you may want to pin this version