# Postgres
DB_USER=saint
DB_PASSWORD=saint_dev_password
DB_HOST=postgres
DB_NAME=saint

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_USER=saint
RABBITMQ_PASS=saint_dev_password

# The url of the saint web application
# The saint api supports JWT auth. It validates
# that tokens are issued from BETTER_AUTH_URL only.
# Set this the whatever the BETTER_AUTH_URL env var
# is for the web app.
BETTER_AUTH_URL=http://localhost:3000

# API auth for discord_bot
# Generate a real value with just api-key after Postgres is running.

SAINT_API_URL=http://api:8080
SAINT_API_KEY=replace_me_after_running_generate_api_key

# Discord bot
# Set real values if you want to run discord_bot locally.
DISCORD_TOKEN=replace_me
APPLICATION_ID=replace_me

# Worker container (performs simulation requests with simc)
SIMC_IMAGE=simulationcraftorg/simc:latest # you may want to pin this version
