go 1.21.6

use (
	./apps/api
	./apps/discord_bot
	./apps/simulation_worker
	./pkg/go-shared/api_types
	./pkg/go-shared/auth
	./pkg/go-shared/db
	./pkg/go-shared/secrets
	./pkg/go-shared/utils
)

replace github.com/DomNidy/saint_sim/pkg/go-shared/api_types v0.0.0 => ./pkg/go-shared/api_types

replace github.com/DomNidy/saint_sim/pkg/go-shared/auth v0.0.0 => ./pkg/go-shared/auth

replace github.com/DomNidy/saint_sim/pkg/go-shared/db v0.0.0 => ./pkg/go-shared/db

replace github.com/DomNidy/saint_sim/pkg/go-shared/secrets v0.0.0 => ./pkg/go-shared/secrets

replace github.com/DomNidy/saint_sim/pkg/go-shared/utils v0.0.0 => ./pkg/go-shared/utils
