go 1.24.0

// This file is mostly for gopls and LSPs it supports, as it does not
// understand submodules correctly without it.
//
// Add new shared modules here, but also ensure that any module that 
// depends on a local shared module, includes a 
// `replace abc => {local_path}/abc` 
// directive in it's go.mod so it knows how to resolve module during
// build.
use (
	./apps/api
	./apps/discord_bot
	./apps/simulation_worker
	./pkg/api_types
	./pkg/db
	./pkg/secrets
	./pkg/utils
	./pkg/simc
)
